    
<!-- <h1>{{title}}</h1> -->
<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Angular Layout Directives Demo</h1>
</header>
<div class="row">  
  <div ng-controller='InfoController'>
    <p>Wellcome {{currentUser}}</p>
  </div>
  <div ng-controller='InboxController' class="row col-md-6" class="page-list ">
    <a href="" ng-repeat="user in users track by user.id" class="user-listing" ng-click="selectUser(user)">
      <p>{{user.first_name}} {{user.last_name}}</p>
    </a>
  </div>
    <div class="row col-md-6" class="page-details" ng-controller='DetailController'>
    <div ng-if="!currentUser" class="panel">
    <p>You have <strong>not selected an employee</strong></p>
    </div>
    <user-detail></user-detail>
  </div>
</div>






